<h1>Reviews</h1>

<% Book.all.each do |book| %>

<hr>
<h2><%= link_to book.title, book %>
  <small>by <%= link_to book.author.name, book.author %></small></h2>
  <div class="parent-300">
   <img src="<%= book.image_url %>">
 </div>

 <div>
  <% book.reviews.each do |review| %>

  <div><br>
    <ul class="list-inline">
     <% review.rating.times do %>
     <li class="medium-star">
       <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/1000px-Gold_Star.svg.png">
     </li>
     <% end %>
   </ul>
 </div>

 <div>
  <blockquote>
    "<%= review.description %>"
    - <strong><%= review.user.name %></strong>
  </blockquote>
</div>

<% end %>

</div>  

<% end %>

<hr>
<br>